.content {
    max-width: 65vw;
    min-height: 100vh;
    margin: auto;
    background-color: #a9ecfd;
}

.title {
    font-size: 4REM;
    text-align: center;
}

.body {
    background-color: #0ec7ff;

}

.barAbout {
    background-color: rgb(52, 140, 180)
}