.barAbout {
    text-decoration-line: underline !important;
}

.SelectorBoxes {

    position: relative;
    width: 100%;
    transform: translate(-50%, 0);
    height: 40%;
    left: 50%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);


}

.title {
    padding-bottom: 2%;
}

.SelectorBox {
    position: relative;
    display: inline-block;
    background-color: var(--color-blue-white);
    height: 100%;
    margin-inline: 2%;
    vertical-align: top;
}

.SelectorButton {
    position: absolute;
    border-radius: 15%;
    padding: 6px;
    color: var(--color-link);
    top: 80%;
    right: 8%;
    cursor: pointer;
    font-size: var(--text-mid);


}

.SelectorBoxTextTitle {
    font-size: var(--text-large);
    padding: 5%;
}

.SelectorBoxText {
    font-size: var(--text-mid);
}

.blockOfContent {
    position: relative;
    width: 100%;
    height: 60%;
    margin-top: var(--margin--large);
    font-size: var(--text-mid);

}

.ImageClass {
    background-repeat: no-repeat;
    background-size: contain;
    transform: translate(-50%, -50%);
    position: absolute;
    background-position: center;

}

#TOVG .ImageClass {
    width: 30%;
    height: 58%;
    top: 32%;


}

#SurfingSwimming .ImageClass {
    width: 18%;
    height: 45%;
    top: 32%;


}

#UnderwaterPhotography .ImageClass {
    width: 20%;
    height: 45%;
    top: 32%;
}

#Reading .ImageClass {
    width: 14%;
    height: 90%;
    top: 50%;

}

#UnderwaterPhotography .ContentText {
    width: 20%;
}

.ContentText {
    position: absolute;
    font-size: min(1, 2.2vh);
    text-align: center;
    transform: translate(-50%, -50%);
}

#SurfingSwimming .ContentText {
    width: 18%;
}

#TOVG {
    background-color: var(--color-blue-blue-white);
}

#TOVG .ContentText {
    width: 30%;
}

#SurfingSwimming {
    background-color: var(--color-blue-blue-white);
}

#UnderwaterPhotography {
    background-color: var(--color-blue-blue-white);
}

#Reading {
    background-color: var(--color-blue-blue-white);
}

.triangle {
    width: 0;
    height: 0;
    border: solid 30vh;
    border-color: transparent transparent rgb(190, 218, 228) transparent;
    position: absolute;
    top: -27%;
    left: 37%;
    transform: translate(-50%, -50%);

}

.header a.header__about {
    text-decoration: underline;
}