#footer {
    
    background-color: var(--color-blue-blue-white);
    width: 100%;
    height: 30vh;
    margin: 0;
    margin-top: var(--margin--large);
    
}



.footer__content {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.footer__column {
    color: var(--color-primary-desaturated);
    font-size: var(--text-mid);
    margin-left: var(--margin--small);
    margin-top: var(--margin--small);
}
.footer__column span{
    display: block;
}

.footer__column a{    
    display: block;
    text-decoration: none;
    cursor: pointer;
    width: fit-content;
}

.footer__column__header {
    font-weight: bold;
    text-decoration: underline !important;
}
.footer__column__spacer {
    height: var(--margin--small);
}


@media (max-width: 600px) {
    .footer__content {
        display: block;
    }
    #footer {
        height: fit-content;
        padding-top: 1vh;
    }

}