.body{
    background-color: var(--color-blue-white);
}
.barProjects {
    text-decoration-line: underline !important;
}

.content {
    background-color: var(--color-blue-white);
    width: 100%;
    
}
.content > :nth-child(odd) {
    background-color: var(--color-background);
}

.projectBox {
    padding: 2%;
    position: relative;
    padding-left: 15%;
    height: 40%;
}

.project-box__header {
    font-size: var(--text-large);
    font-weight: bold;
    padding-top: var(--margin--small);
}

.projectBox_Image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 30%;
    left: 70%;
    top: 45%;
    position: absolute;
    background-color: white;
    border: 1px solid black;
}

.projectBox_ImageSelector {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 25%;
    width: auto;
    height: 100%;
    text-align: center;

}

.projectBox_ImageSelector div{
    margin-left: 3px;
    margin-right: 3px;

}

.projectBox_SelectorButton {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 20%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: darkblue;
    font-size: min(1.2vw, 2.6vh);
    cursor: pointer;
}

.projectBox_SelectorButton.left {
    width: 30px; 
    height: 30px; 
    background: url('/images/left-arrow.png') no-repeat center center;
    background-size: contain; 
    border: none; 
    cursor: pointer; 
}

.projectBox_SelectorButton.right {
    width: 30px; 
    height: 30px; 
    background: url('/images/right-arrow.png') no-repeat center center;
    background-size: contain; 
    border: none; 
    cursor: pointer; 
}

.projectBox_SelectorButton.left {
    left: 10%;

}

.projectBox_SelectorButton.right {
    left: 90%;

}


.projectBox_ImageSelectorThings {

    position: absolute;
    left: 70%;
    top: 95%;
    transform: translate(-50%, -50%);
    width: 20%;
    height: 5%;
}

.project-box__content {
    width: 40%;
    padding-top: 1%;
    font-size: var(--text-mid);
}

.titleBox {
    height: 40%;
}

.title-box__title{
    padding-top: var(--margin--large);
    font-size: var(--text-massive);
    font-weight: bold;
    text-align: center;
    color: var(--color-primary);
}

.titleText {
    text-align: center;
    font-size: var(--text--default);
    color: var(--color-secondary);
    padding-top: var(--margin--small);
    font-weight: normal;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#ImageDisplay button {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    outline: none;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: min(4.1vw, 8.5vh);
    cursor: pointer;
}

.ImageDisplay_SelectorButton.left {
    left: 5%;

}

.ImageDisplay_SelectorButton.right {
    left: 95%;

}

.ImageDisplay_Image {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
    height: 75%;
    width: 80%;
    left: 50%;
    top: 45%;
    position: absolute;
    cursor: pointer;
    border: 1px solid black;
}

.ImageDisplay_ImageSelector {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 95%;
    width: auto;
    height: 5%;
    text-align: center;

}

.ImageDisplay_X {
    position: absolute;
    left: 96%;
    top: 2%;
    font-weight: bold;
    color: white;
    font-size: min(5vw, 10vh);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

.header a.header__projects {
    text-decoration: underline;
}