.content {
    max-width: 100vw;
    min-height: 100vh;
    margin: auto;
    background-color: #ffffff;

}

.title {
    font-size: 4REM;
    text-align: center;
}

.body {
    background-color: #ffffff;

}

.pageBlock {
    width: min(20vw, 30vh);
    height: min(20vw, 30vh);
    outline: 1px black solid;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.tallBlock {
    width: min(26vw, 54vh);
    height: min(39vw, 70vh);
    outline: 0px black solid;
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.pageBlock-top {
    height: 60%;
    width: 100%;

    position: absolute;
    top: 0px;

}

.pageBlock-bottom {
    top: 62%;
    height: 40%;
    width: 100%;
    position: absolute;
}

.imageBlock {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    left: 50%;
    top: 50%;
    position: absolute;
}