.topnav {
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: static;
    text-align: center;
    padding-top: 1rem;
    width: 100%;
    z-index: 1;
    padding-bottom: var(--margin--large);

}


.topnav a {

    color: #686868;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 2REM;
    height: 1rem;
}

.headerBlock {
    min-height: 0rem;

}


.topnav a:hover {

    text-decoration: underline;
}

.Linkedin {
    position: absolute;
    left: 96%;
    top: 1.7%;
    transform: (-50%, -50%);
    background-image: url("/assets/LinkedIn.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2%;
    aspect-ratio: 1;
    cursor: pointer;


}

.emailIcon {
    position: absolute;
    left: 93%;
    top: 1.7%;
    transform: (-50%, -50%);
    background-image: url("/assets/emailIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 2%;
    aspect-ratio: 1;
    cursor: pointer;


}

.emailIcon .toolTip {

    width: auto;
    height: auto;
    padding: 3px;
    border-radius: 5px;
    font-size: min(0.9vw, 1.5vh);
    top: 50%;
    background-color: rgb(191, 230, 255);
    z-index: 1;
    position: relative;
    left: 100%;
    float: right;
    transform: translate(-50%, -50%);
    display: none;
}

.emailIcon:hover .toolTip {
    display: block;
}

