.topnav {
    background-color: rgb(255, 255, 255);

    overflow: hidden;
    position: static;
    text-align: center;
    padding-top: 1rem;
    min-width: 100vw;
    z-index: 1;
    padding-bottom: 1rem;


}


.topnav a {

    color: #686868;
    text-align: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-size: 2REM;
    height: 1rem;
}

.headerBlock {
    min-height: 0rem;

}


.topnav a:hover {

    text-decoration: underline;
}