.barIndex {
    text-decoration-line: underline !important;


}

#headerImage {
    position: relative;
    height: 30%;
    width: 100%;


}

.PageBlocks {
    position: relative;
    outline: 0px green solid;
    height: 40vh;
    width: 100vw;

}

.ProjectBlock {
    width: 17%;
    height: 70%;
    outline: 1px black solid;
    background-color: rgb(174, 179, 250);
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    color: black;
}

.tallBlock-bottom {
    text-align: center;
}