.barIndex {
    text-decoration-line: underline !important;


}

#headerImage {
    position: absolute;
    height: 30%;
    width: 100%;

}

.PageBlocks {
    position: absolute;
    top: 50vh;
    height: 40vh;
    width: 100vw;

}